
.header {
  width: 100%;
  box-shadow: 0 1px 0 0 #e6eaed, 0 2px 10px 0 rgba(79, 88, 95, 0.1);
  background-color: #ffffff;

  .logo {
    width: 325px;
    height: 100px;
      span {
        cursor: pointer;
      }
  }

  .menu {
    height: 100%;

      .item {
        font-size: 16px;
        color: #4f585f;
        margin: 8px 22px 0 22px;
        cursor: pointer;
        transition: all 0.5s ease 0s;
        text-decoration: none;

        &.active {
          color: #0180cb;
        }

        &:hover {
          color: #0180cb;
        }
      }
  }

  .avatar {
    height: 45px;
    width: 45px;
    margin-right: 60px;
    cursor: pointer;
  }
}
